* {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
}

.base-container {
    display: flex;
    align-items: top;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 800px;
    height: 900px;
    padding: 24px;
    gap: 16px;
    background-color: rgba(226, 226, 226, 1);
}

.main-title {
    width: 100%;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48.41px;
    text-align: left;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 100%;
}

#search-input {
    width: 100%;
    height: 32px;
    border: 1px solid rgba(153, 153, 153, 1);
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 40px;
}

#search-img {
    position: absolute;
    align-self: center;
    right: 5px;
}

.input-container {
    position: relative;
    display: flex;
    width: 100%;
}

.select-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
}

.select-btn {
    border: none;
    background: none;
    font-size: 10px;
    font-weight: 700;
    line-height: 12.1px;
    letter-spacing: 0.04em;
    text-align: left;
    text-transform: uppercase;
}

#todo-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.todo-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 16px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.todo-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.todo-category {
    padding: 2px 3px;
    border-radius: 2px;
    border: 1px solid rgba(255, 102, 0, 1);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    line-height: 12.1px;
    text-align: center;
    color: rgba(255, 102, 0, 1);
}

.todo-actions {
    display: flex;
    flex-wrap: wrap;
}

.todo-edit-btn {
    border: none;
    background: none;
}

.todo-delete-btn {
    border: none;
    background: none;
}

.todo-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: left;
    color: rgba(51, 51, 51, 1);
    border: none;
    background: transparent;
    outline: none;
    width: 80%;
}

.todo-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: rgba(51, 51, 51, 1);
    border: none;
    background: transparent;
    outline: none;
    width: 90%;
}

.todo-done-btn {
    display: flex;
    align-items: flex-end;
    gap: 4px;
    margin-top: 16px;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 102, 0, 1);
}

.todo-done-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: left;
    color: white;
}

.add-todo-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

#add-todo-form {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.add-category {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

.add-heading {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;
}

.add-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

#add-title-input {
    height: 32px;
    border: 1px solid rgba(153, 153, 153, 1);
    border-radius: 4px;
    padding: 0px 10px;
}

.add-description {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

#add-description-input {
    height: 96px;
    border: 1px solid rgba(153, 153, 153, 1);
    border-radius: 4px;
    padding: 0px 10px;
}

.add-todo-actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 16px;
}

#add-todo-actions-wrapper {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

#add-todo-create-btn {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 102, 0, 1);
}

.add-todo-create-btn-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: center;
    color: white;
    white-space: nowrap;
}

#add-todo-save-btn {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 102, 0, 1);
}

.add-todo-save-btn-title {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: left;
    color: white;    
}

#add-todo-cancel-btn {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    background: none;
}

.add-todo-cancel-btn-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: left;
    color: black;   
}

#separator {
    display: none;
    border: 1px solid rgba(153, 153, 153, 1);
    border-radius: 1px;
}